$icon-font-path: '../fonts/';
$screen-sm-min: '768px';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
a{
  cursor: pointer;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.gutter-sm {
  margin-right: -7px;
  margin-left: -7px;
}
.row.gutter-sm > [class^="col-"],
.row.gutter-sm > [class*=" col-"] {
  padding-right: 7px;
  padding-left: 7px;
}

.btn.btn-outline{
  background: transparent;
  border-width: 2px;
  text-align: center !important;
}

.modal-umai{
  .modal-dialog{
    margin-top: 55px;

    .modal-content{
      border-radius: 0;
    }
    .modal-header{
      background: #091d1f;
      color: #fff;
      padding: 12px 15px;
    }
    .modal-footer{
      background: #fff;
      color: #e2e2e2;
      border-top: none;
      padding: 12px 15px;
    }
    .modal-body{
      background: #f2f2f2;
      h3{
        color: #3d3d3d;
        margin-top: 0;
      }
      h4{
        color: #727272;
      }
    }
  }
  .power-icon{
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -87px;
  }
  .close{
    position: absolute;
    left: 0px;
    top: -35px;
    color: #fff;
    opacity: .8;
    font-weight: 300;
    font-size: 30px;
    &:hover,
    &:focus,
    &.focus {
      opacity: 1;
    }
  }
  .date-btns{
    padding-top: 25px;
    .btn{
      background: transparent;
      border-radius: 0;
      padding: 15px 10px;
      text-align: left;
      border: none;
      border-bottom: 1px solid #adadad;
      font-size: 15px;

      &.btn-first, {
        border-right: 1px solid #adadad;
      }

      &:hover,
      &:focus,
      &.focus {
        background: rgba(0, 0, 0, .1);
      }

      @media (min-width: $screen-sm-min) {
        &.btn-second{
          border-right: 1px solid #adadad;
        }
      }

    }
  }
  .list-date-picker{
    margin-top: 25px;
    color: #727272;
    li{
      text-align: center;
      &.bleft{
        border-left: 1px solid #adadad;
      }
      a{
        font-weight: bold;
        font-size: 116%;
        
        &.is-gray{
          color: #9e9e9e;
          .fa-stack-2x{
            color: #eaeaea;
          }
        }
        &.is-pinky{
          color: #9b9292;
          .fa-stack-2x{
            color: #f3dfdf;
          }
        }
      }
    }
  }
  .lunch-timepicker{
    .btn{
      padding: 15px 7px;
      margin-bottom: 14px;

      @media (min-width: $screen-sm-min) {
        text-align: left;
      }

      &.disabled{
        background: #eaeaea;
        border-color: #eaeaea;
        color: #999999;
      }
      &.active{
        background: #a6724b;
        border-color: #a6724b;
      }

    }
  }

}